@font-face {
	font-family: 'GothamLight';
	src: url('http://roberzguerra.github.io/fonts/gotham/GothamLight.eot');
	src: local('GothamLight'), url('http://roberzguerra.github.io/fonts/gotham/GothamLight.woff') format('woff'), url('http://roberzguerra.github.io/fonts/gotham/GothamLight.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_4008">Text with this font applied</p> */
.fontsforweb_fontid_4008 {
	font-family: 'GothamLight' !important;
}

/* Font downloaded from FontsForWeb.com */
