@font-face {
  font-family: 'Gotham';
  src: url('https://roberzguerra.github.io/fonts/gotham/Gotham-Bold.eot'); /* IE9 Compat Modes */
  src: url('https://roberzguerra.github.io/fonts/gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('https://roberzguerra.github.io/fonts/gotham/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
     url('https://roberzguerra.github.io/fonts/gotham/Gotham-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
     /*url('fonts/Gotham-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 700;
   font-style: normal;
 }

@font-face {
  font-family: 'Gotham';
  src: url('https://roberzguerra.github.io/fonts/gotham/Gotham-Medium.eot'); /* IE9 Compat Modes */
  src: url('https://roberzguerra.github.io/fonts/gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('https://roberzguerra.github.io/fonts/gotham/Gotham-Medium.woff') format('woff'), /* Modern Browsers */
     url('https://roberzguerra.github.io/fonts/gotham/Gotham-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
     /*url('fonts/Gotham-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 400;
   font-style: normal;
 }

@font-face {
  font-family: 'Gotham';
  src: url('https://roberzguerra.github.io/fonts/gotham/Gotham-Light.eot'); /* IE9 Compat Modes */
  src: url('https://roberzguerra.github.io/fonts/gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('https://roberzguerra.github.io/fonts/gotham/Gotham-Light.woff') format('woff'), /* Modern Browsers */
     url('https://roberzguerra.github.io/fonts/gotham/Gotham-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
     /*url('fonts/Gotham-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 300;
   font-style: normal;
 }

